.carousel .thumb {
    transition: border gg15s ease-in;
    display: hidden;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    border: 3px solid #fff;
    padding: 2px;
    visibility: hidden;
    border-radius: 10px !important;
}
.carousel .slide img {
    width: 100%;
    vertical-align: top;
    border: 0;
    border-radius: 10px !important;
}
img.liveimg.img-fluid {
    padding-top: 20px;
}
.mainImgContainer{
    margin-top: 10px;
}
.imageSection{
    position: relative;
    color: #fff;
    padding-left: 0px;
    top: -75px;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}