*{
    font-family: "Montserrat", sans-serif;
}

.list-group {
    
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    margin-left: -1% !important;
    background: #fff;
    border-radius: 10px;
    border-bottom: 1px solid gray;
}
.list-group .list-group-item {
    border-bottom: 1px solid gray;
 
}


    .post_Main_content {
        font-family: "Montserrat", sans-serif;
        margin: 20px;
        background: #fff;
        padding: 3%;
        color: gray;
    }
.posttxt{
    padding-left: 10px;
}