*{
    font-family: "Montserrat", sans-serif;
}

.list-group {
    
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    margin-left: -1% !important;
    background: #fff;
    border-radius: 10px;
    border-bottom: 1px solid gray;
}
.list-group .list-group-item {
    border-bottom: 1px solid gray;
 
}


    .post_Main_content {
        font-family: "Montserrat", sans-serif;
        margin: 20px;
        background: #fff;
        padding: 3%;
        color: gray;
    }
.posttxt{
    padding-left: 10px;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    appearance: none;
}
.btn {
    color: #000 !important;
    border-color: #1E74FD;
    background-color: #1E74FD !important;

}