.teands{
    font-size: 15px;
    font-weight: 500;
    color: #81c14b;
}
.subheding{
    padding-left: 17px;
}
.main-content-trand{
    background-color: #fff;
    border-radius: 10px;
}
.heading{
    color: gray;
}