.popupImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.personList{
    display: flex;
    flex-direction: column;
}
.cross{
    color: #000 !important;
}
.modalbackground {
    padding: 10px;
    margin-top: -6px;
    margin-left: 35px;
}

