.event{
    background: #81c14b;
}
.event:hover{
    background: #000;
}
.d-flex.pt-0.ps-4.pe-4.pb-3.overflow-hidden {
    margin-left: -17px;
    color: #000;
}
span.d-block.font-xsssss.fw-500.mt-1.lh-4.text-grey-500 {
    font-size: 11px !important;
    font-family: 'Roboto';
}